# Your first predictions - Predicting Salaries üìà

--------------

## But first - a tutorial on `Jupyter Notebook` and `Python` basics üö¥‚Äç‚ôÄÔ∏è

### Jupyter Notebook üìù

Notebook consists of two main parts.

1. Text instructions like this one - these are made using a text formatting language called [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

2. Code cells like the one below:

In [ ]:
1 + 1 * 2

1. To run a code cell, click into it with your mouse and press the `‚ñ∫ Run` button in the navbar at the top of the notebook. 
2. You can also use the shortcut `Shift + Enter` to run a cell!
3. A cell that has been run will get a `In [number]` next to it
4. An output (returned value) of a cell will be displayed below with a `Out[number]` next to it
5. If you want to add another code cell - look for the `‚ûï` button in the navbar.

In [ ]:
# you will have cells like these for you to code in

--------

### üêçPython basics

[**Python**](https://docs.python.org/) has been around since late 1980s. In fact, Machine Learning concept has been around since 1950s! üòØ

But rapid advances in internet speed, data storage and the very active Python community has married the two things very well in the last 5 years.

In **Python** we have **built-in data types** to help us work with different kinds of data:

**Strings** (`str` in Python) for **literal text, column or file names**. Made by putting quotes (`""`) around the text.

In [ ]:
"hello!"
"ML like a pro"

**Integers** (`int` in Python) for **whole numbers**

In [ ]:
42
-10

**Floats** (`float` in Python) for **numbers with decimal points**. The decimal delimeter is always `.`

In [ ]:
3.14

These **numeric** types accept all standard math calculations:

In [ ]:
9 / 3
2 + 5
2 > 1

üì¶ We have **variables** to help store data:

In [ ]:
name = "Alan Turing"
age = 42
new_employee_data = [0, 30, 3, 7.1, 12]

...and **re-use** it later!:

In [ ]:
"Hi, my name is " + name

In [ ]:
# getting one year older :(
age = age + 1
age

üí•And we have **methods** to perform actions on data:

In [ ]:
name.upper()

In [ ]:
number_of_n = name.count('n') # creating a new variable as a result of the method call
number_of_n

### 1. Your turn! üöÄ
Practice using some of the basic types we just covered. Here are some ideas:

* Create two strings and add them together with a `+` sign
* Create a variable with your age in years, then count your age in hours (roughly)
* Check if your birth month number is higher than (`>`) than your birth day number
* Create a variable with your full name, then tell yourself that you rock in all caps! üí™ (ie. `"YOU ROCK ALAN TURING!"`)

In [1]:
# your code here
str1 = 'ONE'
str2 = 'TWO'
bothstrs = str1 + str2v
bothstrs

'ONETWO'

In [2]:
age = 40
age_in_hours = 40 * 365.25 * 24
age_in_hours

350640.0

In [3]:
birth_month = 11
birth_day = 23
birth_month > birth_day

False

In [4]:
full_name = 'Fox Reymann'
('you rock ' + full_name + '!').upper()

'YOU ROCK FOX REYMANN!'

Don't worry if some things feel unnatural at first - you are learning a new language in just 20 minutes! üí™

--------------

# Let's get back into Data Science ü§ñ

1. Run below cell to `import` some Python libraries - these will be our tools for working with data üìä

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

2. Run below cell to read the `CSV` file into a `DataFrame` - a format that is great for data analysis inside Python! 

*Note: the datasets is cleaned and federated for learning purposes*

In [24]:
salaries = pd.read_csv('clean_data/salaries.csv')
salaries

,Gender,Age,Department,Department_code,Years_exp,Tenure (months),Gross
0,0,25,Tech,7,7.5,7,74922
1,1,26,Operations,3,8.0,6,44375
2,0,24,Operations,3,7.0,8,82263
3,0,26,Operations,3,8.0,6,44375
4,0,29,Engineering,0,9.5,25,235405
...,...,...,...,...,...,...,...
1797,0,29,Other,4,9.5,34,88934
1798,0,27,Engineering,0,8.5,33,133224
1799,0,29,Operations,3,9.5,15,72547
1800,0,47,Other,4,18.5,30,227176
1801,0,27,Finance,1,8.5,29,114641

In [8]:
salaries.shape

(1802, 7)

In [9]:
salaries.describe()

,Gender,Age,Department_code,Years_exp,Tenure (months),Gross
count,1802.000000,1802.000000,1802.000000,1802.000000,1802.000000,1.802000e+03
mean,0.276915,31.516648,4.093230,10.758324,48.376804,1.758266e+05
std,0.447598,5.225084,2.151448,2.612542,35.639826,1.055131e+05
min,0.000000,21.000000,0.000000,5.500000,6.000000,2.560000e+02
25%,0.000000,28.000000,2.000000,9.000000,23.000000,1.042170e+05
50%,0.000000,31.000000,4.000000,10.500000,39.000000,1.503300e+05
75%,1.000000,35.000000,7.000000,12.500000,66.000000,2.211358e+05
max,1.000000,56.000000,7.000000,23.000000,190.000000,1.024965e+06

In [12]:
salaries.head(2)

   Gender  Age  Department  Department_code  Years_exp  Tenure (months)  Gross
0       0   25        Tech                7        7.5                7  74922
1       1   26  Operations                3        8.0                6  44375

--------------

## We can get a lot of insight without ML! ü§î

### 2. Your turn! üöÄ

Let's start by **understanding the data we have** - how big is the dataset, what is the information (columns) we have and so on:

**üí° Tip:** remember to check the slides for the right methods ;)

In [13]:
salaries.shape

(1802, 7)

In [14]:
salaries.dtypes

Gender               int64
Age                  int64
Department          object
Department_code      int64
Years_exp          float64
Tenure (months)      int64
Gross                int64
dtype: object

<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
salaries.shape # to see how many rows, columns
salaries.dtypes # to see available columns and their data type
round(salaries.describe()) # to see a readable summary about the dataset, like averages, minimums and maximums
</pre>
</details>

Now try to **separate only some columns** - say we only want to see departments, or departments and salaries:

In [15]:
salaries['Department']

0              Tech
1        Operations
2        Operations
3        Operations
4       Engineering
           ...
1797          Other
1798    Engineering
1799     Operations
1800          Other
1801        Finance
Name: Department, Length: 1802, dtype: object

In [17]:
salaries[['Department','Gross']]

       Department   Gross
0            Tech   74922
1      Operations   44375
2      Operations   82263
3      Operations   44375
4     Engineering  235405
...           ...     ...
1797        Other   88934
1798  Engineering  133224
1799   Operations   72547
1800        Other  227176
1801      Finance  114641

[1802 rows x 2 columns]

<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
salaries["Department"] # to see one column
salaries[["Department", "Gross"]] # double bracket if we want to see multiple columns
</pre>
</details>

-------

### 3. Your turn - Now let's do some **visualization** üìä. 


Let's follow some basic intuition - **does years of experience affect gross salary‚ùì**

Let's use a [Seaborn Scatterplot](https://seaborn.pydata.org/generated/seaborn.scatterplot.html) - a method inside the Seaborn library (which we imported above and shortened to `sns`) that gives us a graph with data points as dots with `x` and `y` values.

In [56]:
# your code here

<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
sns.scatterplot(data=salaries, x="Years_exp", y="Gross")
</pre>
</details>

Remember one of the questions from the slides - **do women and men earn equally in this example‚ùì**

*Note: 'Male' is coded as 0, 'Female' - as 1*

In [16]:
# your code here

<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
sns.scatterplot(data=salaries, x="Years_exp", y="Gross", hue="Gender")
</pre>
</details>

Let's also understand the **number of** some data points we have - how many women and men? How many in each department? Seaborn `countplot` is here to help with that.

**üí° Tip:** you can always call methods `.dtypes` or `.columns` on your dataset to check what columns you have.

In [20]:
# your code here

<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
sns.countplot(data=salaries, x="Gender") # to see how many of each gender we have in the dataset
sns.countplot(data=salaries, x="Department") # to see how many of each department we have
</pre>
</details>

**Bonus question:** can you visualize **how many men and women there are per department**? ü§î A `hue` might help...

In [21]:
# your code here


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
sns.countplot(data=salaries, x="Department", hue="Gender")
</pre>
</details>

--------------

#### ü•à*A good data expert knows all the most complex models.* 
### ü•á*A great data expert knows when results can be achieved without them.*

--------------

## Your first model - Linear Regression üìà

**1.** First, let's create what will be our...
  * Features and target
  * Inputs and output
  * X and Y

In [25]:
salaries.head(2)

   Gender  Age  Department  Department_code  Years_exp  Tenure (months)  Gross
0       0   25        Tech                7        7.5                7  74922
1       1   26  Operations                3        8.0                6  44375


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
features = salaries.drop(["Gross", "Department"], axis="columns") # dropping the Department column because it's text
target = salaries["Gross"]
</pre>
</details>

Feel free to check what is in your `features` and `target` below:

In [29]:
features = salaries.drop(columns=['Department','Gross'])
features

      Gender  Age  Department_code  Years_exp  Tenure (months)
0          0   25                7        7.5                7
1          1   26                3        8.0                6
2          0   24                3        7.0                8
3          0   26                3        8.0                6
4          0   29                0        9.5               25
...      ...  ...              ...        ...              ...
1797       0   29                4        9.5               34
1798       0   27                0        8.5               33
1799       0   29                3        9.5               15
1800       0   47                4       18.5               30
1801       0   27                1        8.5               29

[1802 rows x 5 columns]

In [30]:
target = salaries['Gross']
target

0        74922
1        44375
2        82263
3        44375
4       235405
         ...
1797     88934
1798    133224
1799     72547
1800    227176
1801    114641
Name: Gross, Length: 1802, dtype: int64

**2.** Time to **import** the Linear Regression model

Python libraries like [Scikit-learn](https://scikit-learn.org/0.21/modules/classes.html) make it super easy for people getting into Data Science and ML to experiment.

The code is already in the library, it's just about **calling the right methods!** üõ†

In [26]:
from sklearn.linear_model import LinearRegression


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
from sklearn.linear_model import LinearRegression
</pre>
</details>

Now to **initialize** the model

In [27]:
model1 = LinearRegression()
model1

LinearRegression()


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
model = LinearRegression()
</pre>
</details>

**3.** We **train** the model. 

This is the process where the Linear Regression model looks for a line that best fits all the points in the dataset. This is the part where the computer is hard at work **learning**! ü§ñ

In [32]:
model1.fit(features, target)

LinearRegression()


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
model.fit(features, target)
</pre>
</details>

**4.** We **score** the model

Models can have different default scoring metrics. Linear Regression by default uses something called `R-squared` - a metric that shows how much of change in the target (Gross salary) can be explained by the changes in features (Age, Tenure, Gender etc.)

In [34]:
model1.score(features, target)

0.4375824994459755


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
model.score(features, target)
</pre>
</details>

‚ö†Ô∏è **Careful not to confuse this with accuracy**. The above number is shows that **"the inputs we have can help us predict around 40-45% of change in the salary"** Which is decent considering we did this in 10 min!

**5.** Let's **predict** the salary of a new hire üîÆ

*Note: here is a reminder of the columns in the table:* `['Gender', 'Age', 'Department_code', 'Years_exp', 'Tenure (months)']`

In [35]:
# here's a freebie! You can change the numbers below to change the info of your hire ;)
hire = pd.DataFrame({
    'Gender': [1],
    'Age': [29],
    'Department_code': [2],
    'Years_exp': [5.2],
    'Tenure (months)': [10]
})

# your code here

In [14]:
hire

   Gender  Age  Department_code  Years_exp  Tenure (months)
0       1   29                2        5.2               10

In [36]:
model1.predict(hire)

array([1.64131824e+17])


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
model.predict(hire)
</pre>
</details>

üí° A hint for **departments and their codes**:

* Engineering - 0
* Finance - 1
* Media - 2
* Operations - 3
* Other - 4
* Product - 5
* Sales - 6
* Tech - 7

--------------

**6.** **Explaining** the model

There is a whole concept called [**Explainable AI (XAI)**](https://arxiv.org/abs/2006.00093) which is rising in popularity, as the widespread application of machine learning, particularly deep learning, has led to the development of highly accurate models but **models lack explainability and interpretability**.

Luckily, Linear Regression is a [linear model](https://scikit-learn.org/stable/modules/linear_model.html), so it's explainability is quite high.

**6.1.** We can check the `coef_` or the **coefficients** of the model. These explain how much the target (Gross salary) changes with a change of `1` in each of the features (inputs), while holding other features constant.

In [38]:
model1.coef_

array([-2.45990152e+04,  1.90850958e+16,  2.34989550e+03, -3.81701916e+16,
        2.48141123e+02])


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
model.coef_
</pre>
</details>

ü§î We'd need to check the column order again, to know which number is which input. But, **we got you covered!** Run the cell below:

In [40]:
pd.concat([pd.DataFrame(features.columns),pd.DataFrame(model1.coef_)], axis = 1)

                 0             0
0           Gender -2.459902e+04
1              Age  1.908510e+16
2  Department_code  2.349896e+03
3        Years_exp -3.817019e+16
4  Tenure (months)  2.481411e+02

**6.2** The other thing we can check is the **intercept** of the model. This is the target (Gross salary) for when all inputs are 0. So imagine a newborn baby going to the office:

In [42]:
model1.intercept_

-1.9085095820131654e+17


<details>
    <summary>Reveal Solution üôà</summary>

<p> 
<pre>
model.intercept_
</pre>
</details>

# Congratulations, you are a Linear Regression wizzard! üßô‚Äç‚ôÄÔ∏èüßô‚Äç‚ôÇÔ∏è

* You can try to play around with the `hire` variable to see the `.predict`ion results
* You can also try to change the `features` variable - try removing more columns!
* Looking for a bigger challenge? üèãÔ∏è‚Äç‚ôÄÔ∏è Go to the **optional challenge `2. KNN - Customer Churn`** to explore another model type